.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bot-wrapper {
  background-color: #edf1ce;
}
.call-button {
  background: #343a40;
  width: 250px;
  border: none;
  color: white;
  margin: 30px auto;
}
.call-button:hover {
  border: none;
  background: #343a40;
}
.call-button:active {
  border: none !important;
  background: #343a40 !important;
}
.call-button:focus {
  border: none !important;
  box-shadow: none;
  background: #343a40 !important;
}
.wrapper {
  background-color: #edf1ce;
}
.modal-dialog {
  position: fixed;
  bottom: 0;
  right: 0;
}
.messages-left {
  float: right;
  background: #dedede;
  padding: 10px;
  border-radius: 14px 0px 14px 14px;
  width: 50%;
  margin: 10px 0px 10px 50px;
  text-align:left

}
.messages-right {
  float: left;
  background: #bbd7f1;
  padding: 10px;
  border-radius: 14px 14px 14px 0px;
  width: 50%;
  margin: 0px 50px 10px 0px;
  text-align:left
}
.form-control {
  border: none;
  border-top: 1px solid gainsboro;
}
.modal-header {
  background: rgb(192, 218, 191);
}
.send-button {
  background: #344955;
  border: none;
  padding: 6px 10px;
  border-radius: 0 10px 10px 0px;
  color: white;
}
.message-wrapper {
  width: 100%;
  height: 45vh;
  overflow: auto;
  margin-bottom: 30px;
}
